@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll horizontal indeseado */
  width: 100vw;
  height: 100vh;
}

canvas {
  touch-action: none; /* Importante para el control 3D en móviles */
}