@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reseteo para asegurar pantalla completa real */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden; /* ScrollControls se encargará del scroll */
}

/* Quitamos contornos azules al hacer clic */
canvas {
  outline: none;
}