@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Importante para que no haya scroll doble al principio */
  background-color: #000; /* Fondo negro elegante para NightVibe */
}
